<div class="m-500">
    <h1 class="as-light fs-700">Menubar</h1>
    <p class="p-block-400"><a href="https://primeng.org/menubar" target="_blank" rel="noopener noreferrer"><i
                class="pi pi-prime | p-inline-400"></i>https://primeng.org/menubar</a></p>
    <p class="p-block-400"><a
            href="https://dev.azure.com/hvikt-utv/_git/Hviktor?path=/Hviktor-web/src/app/_components/prime-components/menubar"
            target="_blank" rel="noopener noreferrer"><i class="pi pi-code | p-inline-400"></i>Kode i repo</a></p>

    <p-tabView>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Kode</span>
            </ng-template>

            <!-- import til app.module -->
            <pre class="language-typescript line-numbers">
                <code class="language-typescript">import &#123; MenubarModule &#125; from 'primeng/menubar';</code>
            </pre>

            <p-divider></p-divider>

            <div class="flex f-column gap-500">
                <p-card>
                    <p-menubar [model]="items">
                        <ng-template pTemplate="start">
                            <img src="../../../assets/img/logo.png" routerLink="" height="48px" alt="Hviktor logo" />
                        </ng-template>
                    </p-menubar>

                    <pre class="language-html line-numbers">
                <code class="language-html">
                    &lt;p-menubar [model]=&quot;items&quot;&gt;
                        &lt;ng-template pTemplate=&quot;start&quot;&gt;
                            &lt;img src=&quot;../../../assets/img/logo.png&quot; routerLink=&quot;&quot; height=&quot;48px&quot; alt=&quot;Hviktor logo&quot;/&gt;
                        &lt;/ng-template&gt; 
                    &lt;/p-menubar&gt;
                </code>
            </pre>
                    <pre class="language-typescript line-numbers">
                <code class="language-typescript">
                    import &#123; Component &#125; from '&#64;angular/core';
                    import &#123; MenuItem &#125; from 'primeng/api';

                    &#64;Component(&#123;
                        selector: 'app-menubar',
                        templateUrl: './menubar.component.html',
                        styleUrls: ['./menubar.component.scss']
                    &#125;)
                    
                    export class MenubarComponent &#123;
                        items: MenuItem[] = [];

                        ngOnInit() &#123;
                            this.items = [
                                &#123;
                                    label: 'Farger',
                                    routerLink: '',
                                &#125;,
                                &#123;
                                    label: 'Typografi',
                                    routerLink: '',
                                &#125;,
                                &#123;
                                    label: 'Ikoner',
                                    routerLink: '',
                                &#125;,
                                &#123;
                                    label: 'Variabler og klasser',
                                    routerLink: '',
                                &#125;,
                                &#123;
                                    label: 'Komponenter',
                                    items: [
                                        &#123;
                                            label: 'Accordion',
                                            routerLink: '',
                                            icon: 'pi pi-check-circle',
                                        &#125;,
                                        &#123;
                                            label: 'Buttons',
                                            routerLink: '',
                                            icon: 'pi pi-check-circle',
                                        &#125;,
                                        &#123;
                                            label: 'Checkbox',
                                            routerLink: '',
                                            icon: 'pi pi-question-circle',
                                        &#125;,
                                        &#123;
                                            label: 'Dialog',
                                            routerLink: '',
                                            icon: 'pi pi-check-circle',
                                        &#125;,
                                    ]
                                &#125;,
                                &#123;
                                    label: 'Backend',
                                &#125;,
                            ];
                        &#125;
                    &#125;
                </code>
            </pre>
                </p-card>
            </div>
        </p-tabPanel>

        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Info</span>
            </ng-template>
            <p>Her skriver vi litt om hvordan komponenten bør brukes og UX/a11y prinsipp du bør tenke på.</p>
        </p-tabPanel>

        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Ren HTML/CSS</span>
            </ng-template>
            <p>Her kommer kode for komponenten uten tilknyttet rammeverk.</p>
        </p-tabPanel>
    </p-tabView>
</div>