.container {
    @apply 
        bg-neutral-400 
        rounded-lg 
        p-4 
        mb-6 
        w-48 
        min-h-16;
}
.container.flex.flex-wrap {
    width: 70px;
    align-content: flex-start;
}

.box {
    @apply 
        w-5 
        h-5 
        rounded-lg
        bg-yellow-400;
}

.box.green {
    @apply bg-green-400;
}

.box.red  {
    @apply bg-red-400;
}

.containerMargin, .containerPadding {
    width: -moz-fit-content;
    @apply
        border-neutral-900
        w-fit
        bg-neutral-400
        rounded-lg
        mb-6
}

.containerMargin .box {
    @apply border-neutral-900 bg-yellow-400;
}

.radius {
    background-color: var(--clr-neutral-400);
    width: 70px;
}