.container {
  @apply mb-6 min-h-16 w-48 rounded-lg bg-neutral-500 p-4;
}
.container.flex.flex-wrap {
  width: 70px;
  align-content: flex-start;
}

.box {
  @apply h-5 w-5 rounded-lg bg-yellow-500;
}

.box.green {
  @apply bg-green-500;
}

.box.red {
  @apply bg-red-500;
}

.containerMargin,
.containerPadding {
  width: -moz-fit-content;
  @apply mb-6 w-fit rounded-lg border-neutral-900 bg-neutral-500;
}

.containerMargin .box {
  @apply border-neutral-900 bg-yellow-500;
}

.radius {
  background-color: var(--clr-neutral-400);
  width: 70px;
}
