<div class="m-4 flex gap-8">
    <div>
        <h1>Variabler og klasser</h1>
        <p-divider></p-divider>
        <h2 id="flexbox">💎 Flexbox</h2>
        <div style="max-width: 500px;">
            <!-- UTEN FLEX -->
            <div class="flex justify-between">
                <p class="">Uten noen klasser på containeren</p>
                <div class="container">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box red"></div>
                </div>
            </div>
            <!-- FLEX -->
            <div class="flex justify-between">
                <p>class="flex"</p>
                <div class="container flex">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box red"></div>
                </div>
            </div>
            <!-- COLUMN -->
            <div class="flex justify-between">
                <p>class="flex flex-col"</p>
                <div class="container flex flex-col">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box red"></div>
                </div>
            </div>
            <!-- ALIGN CENTER -->
            <div class="flex justify-between">
                <p>class="flex items-center"</p>
                <div class="container flex items-center">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box red"></div>
                </div>
            </div>
            <!-- JUSTIFY CENTER -->
            <div class="flex justify-center">
                <p>class="flex justify-center"</p>
                <div class="container flex justify-center">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box red"></div>
                </div>
            </div>
            <!-- SPACE BETWEEN -->
            <div class="flex justify-between">
                <p>class="flex justify-between"</p>
                <div class="container flex justify-between">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box red"></div>
                </div>
            </div>
            <!-- SPACE AROUND -->
            <div class="flex justify-between">
                <p>class="flex justify-around"</p>
                <div class="container flex justify-around">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box red"></div>
                </div>
            </div>
            <!-- WRAP -->
            <div class="flex justify-between">
                <p>class="flex flex-wrap"</p>
                <div class="container flex flex-wrap">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box red"></div>
                </div>
            </div>
            <!-- GAP -->
            <div class="flex justify-between">
                <div>
                    <p>class="flex gap-1"</p>
                    <p class="fs-350 fw-bold">4px</p>
                </div>
                <div class="container flex gap-1">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box red"></div>
                </div>
            </div>
            <div class="flex justify-between">
                <div>
                    <p>class="flex gap-2"</p>
                    <p class="fs-350 fw-bold">8px</p>
                </div>
                <div class="container flex gap-2">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box red"></div>
                </div>
            </div>
            <div class="flex justify-between">
                <div>
                    <p>class="flex gap-4"</p>
                    <p class="fs-350 fw-bold">16px</p>
                </div>
                <div class="container flex gap-4">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box red"></div>
                </div>
            </div>
            <div class="flex justify-between">
                <div>
                    <p>class="flex gap-6"</p>
                    <p class="fs-350 fw-bold">24px</p>
                </div>

                <div class="container flex gap-6">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box red"></div>
                </div>
            </div>
        </div>

        <p-divider type="solid"></p-divider>

        <h2 id="padding">💎 Padding</h2>
        <p class="font-semibold">Padding creates extra space <u class="font-semibold">within</u> an element.</p>
        <pre class="language-html line-numbers">
                <code class="language-html">
                    &lt;div class="container p-2"&gt;
                        &lt;div class="box"&gt;
                            Content
                        &lt;div&gt;
                    &lt;div&gt;
                </code>
            </pre>

        <div style="max-width: 600px;">
            <!-- padding -->
            <div class="flex flex-col justify-between mt-6">
                <h3>Padding top, bottom, left and right</h3>
                <div>
                    <p>class="p-1"</p>
                    <p>class="p-2"</p>
                    <p>class="p-3"</p>
                    <p>class="p-4"</p>
                    <p>class="p-5"</p>
                </div>
                <div class="flex gap-2 items-start">
                    <div class="containerPadding p-1">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding p-2">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding p-3">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding p-4">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding p-5">
                        <div class="box"></div>
                    </div>
                </div>
            </div>
            <!-- padding-block -->
            <div class="flex flex-col justify-between mt-6">
                <h3>Padding top and bottom</h3>
                <div>
                    <p>class="py-1"</p>
                    <p>class="py-2"</p>
                    <p>class="py-3"</p>
                    <p>class="py-4"</p>
                    <p>class="py-5"</p>
                </div>
                <div class="flex gap-2 items-start">
                    <div class="containerPadding py-1">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding py-2">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding py-3">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding py-4">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding py-5">
                        <div class="box"></div>
                    </div>
                </div>
            </div>
            <!-- padding-inline -->
            <div class="flex flex-col justify-between mt-6">
                <h3>Padding left and right</h3>
                <div>
                    <p>class="px-1"</p>
                    <p>class="px-2"</p>
                    <p>class="px-3"</p>
                    <p>class="px-4"</p>
                    <p>class="px-5"</p>
                </div>
                <div class="flex gap-2 items-start">
                    <div class="containerPadding px-1">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding px-2">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding px-3">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding px-4">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding px-5">
                        <div class="box"></div>
                    </div>
                </div>
            </div>

            <!-- padding-top -->
            <div class="flex flex-col justify-between mt-6">
                <h3>Padding top</h3>
                <div>
                    <p>class="pt-1"</p>
                    <p>class="pt-2"</p>
                    <p>class="pt-3"</p>
                    <p>class="pt-4"</p>
                    <p>class="pt-5"</p>
                </div>
                <div class="flex gap-2 items-start">
                    <div class="containerPadding pt-1">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding pt-2">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding pt-3">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding pt-4">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding pt-5">
                        <div class="box"></div>
                    </div>
                </div>
            </div>

            <!-- paddingb -->
            <div class="flex flex-col justify-between mt-6">
                <h3>Padding bottom</h3>
                <div>
                    <p>class="pb-1"</p>
                    <p>class="pb-2"</p>
                    <p>class="pb-3"</p>
                    <p>class="pb-4"</p>
                    <p>class="pb-5"</p>
                </div>
                <div class="flex gap-2 items-start">
                    <div class="containerPadding pb-1">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding pb-2">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding pb-3">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding pb-4">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding pb-5">
                        <div class="box"></div>
                    </div>
                </div>
            </div>

            <!-- padding-left -->
            <div class="flex flex-col justify-between mt-6">
                <h3>Padding left</h3>
                <div>
                    <p>class="pl-1"</p>
                    <p>class="pl-2"</p>
                    <p>class="pl-3"</p>
                    <p>class="pl-4"</p>
                    <p>class="pl-5"</p>
                </div>
                <div class="flex gap-2 items-start">
                    <div class="containerPadding pl-1">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding pl-2">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding pl-3">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding pl-4">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding pl-5">
                        <div class="box"></div>
                    </div>
                </div>
            </div>

            <!-- padding-right -->
            <div class="flex flex-col justify-between mt-6">
                <h3>Padding right</h3>
                <div>
                    <p>class="pr-1"</p>
                    <p>class="pr-2"</p>
                    <p>class="pr-3"</p>
                    <p>class="pr-4"</p>
                    <p>class="pr-5"</p>
                </div>
                <div class="flex gap-2 items-start">
                    <div class="containerPadding pr-1">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding pr-2">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding pr-3">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding pr-4">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding pr-5">
                        <div class="box"></div>
                    </div>
                </div>
            </div>
        </div>

        <p-divider></p-divider>

        <h2 id="margin">💎 Margin</h2>
        <p class="font-semibold">Margin creates extra space <u class="font-semibold">around</u> an element.</p>
        <pre class="language-html line-numbers">
                <code class="language-html">
                    &lt;div class="container"&gt;
                        &lt;div class="box m-2"&gt;
                            Content
                        &lt;div&gt;
                    &lt;div&gt;
                </code>
            </pre>
        <div style="max-width: 600px;">
            <!-- margin -->
            <div class="flex justify-between">
                <div>
                    <h3>Margin top, bottom, left and right</h3>
                    <p>class="m-1"</p>
                    <p>class="m-2"</p>
                    <p>class="m-3"</p>
                    <p>class="m-4"</p>
                    <p>class="m-5"</p>
                </div>
                <div class="flex gap-2 items-start">
                    <div class="containerMargin">
                        <div class="box m-1"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box m-2"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box m-3"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box m-4"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box m-5"></div>
                    </div>
                </div>
            </div>
            <!-- margin-block -->
            <div class="flex justify-between mt-6">
                <div>
                    <h3>Margin top and bottom</h3>
                    <p>class="my-1"</p>
                    <p>class="my-2"</p>
                    <p>class="my-3"</p>
                    <p>class="my-4"</p>
                    <p>class="my-5"</p>
                </div>
                <div class="flex gap-2 items-start">
                    <div class="containerMargin">
                        <div class="box my-1"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box my-2"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box my-3"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box my-4"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box my-5"></div>
                    </div>
                </div>
            </div>
            <!-- margin-inline -->
            <div class="flex flex-col justify-between mt-6">
                <div>
                    <h3>Margin left and right</h3>
                    <p>class="mx-1"</p>
                    <p>class="mx-2"</p>
                    <p>class="mx-3"</p>
                    <p>class="mx-4"</p>
                    <p>class="mx-5"</p>
                </div>
                <div class="flex gap-2 items-start">
                    <div class="containerMargin">
                        <div class="box mx-1"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box mx-2"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box mx-3"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box mx-4"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box mx-5"></div>
                    </div>
                </div>
            </div>

            <!-- margin-top -->
            <div class="flex flex-col justify-between mt-6">
                <div>
                    <h3>Margin top</h3>
                    <p>class="mt-1"</p>
                    <p>class="mt-2"</p>
                    <p>class="mt-3"</p>
                    <p>class="mt-4"</p>
                    <p>class="mt-5"</p>
                </div>
                <div class="flex gap-2 items-start">
                    <div class="containerMargin">
                        <div class="box mt-1"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box mt-2"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box mt-3"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box mt-4"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box mt-5"></div>
                    </div>
                </div>
            </div>

            <!-- marginb -->
            <div class="flex flex-col justify-between mt-6">
                <div>
                    <h3>Margin bottom</h3>
                    <p>class="mb-1"</p>
                    <p>class="mb-2"</p>
                    <p>class="mb-3"</p>
                    <p>class="mb-4"</p>
                    <p>class="mb-5"</p>
                </div>
                <div class="flex gap-2 items-start">
                    <div class="containerMargin">
                        <div class="box mb-1"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box mb-2"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box mb-3"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box mb-4"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box mb-5"></div>
                    </div>
                </div>
            </div>

            <!-- margin-left -->
            <div class="flex flex-col justify-between mt-6">
                <div>
                    <h3>Margin left</h3>
                    <p>class="ml-1"</p>
                    <p>class="ml-2"</p>
                    <p>class="ml-3"</p>
                    <p>class="ml-4"</p>
                    <p>class="ml-5"</p>
                </div>
                <div class="flex gap-2 items-start">
                    <div class="containerMargin">
                        <div class="box ml-1"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box ml-2"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box ml-3"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box ml-4"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box ml-5"></div>
                    </div>
                </div>
            </div>

            <!-- margin-right -->
            <div class="flex flex-col justify-between mt-6">
                <div>
                    <h3>Margin right</h3>
                    <p>class="mr-1"</p>
                    <p>class="mr-2"</p>
                    <p>class="mr-3"</p>
                    <p>class="mr-4"</p>
                    <p>class="mr-5"</p>
                </div>
                <div class="flex gap-2 items-start">
                    <div class="containerMargin">
                        <div class="box mr-1"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box mr-2"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box mr-3"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box mr-4"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box mr-5"></div>
                    </div>
                </div>
            </div>
        </div>

        <p-divider></p-divider>

        <h2 id="otherClasses">💎 Andre klasser</h2>
        <div style="max-width: 400px;">
            <div class="flex justify-between">
                <!-- FLEX -->
                <div>
                    <p class="">rounded-lg</p>
                    <span class="font-bold">8px</span>
                </div>

                <div class="container bg-neutral-400 w-16">
                </div>
            </div>
        </div>

        <p-divider></p-divider>

        <h2 id="visuallyHidden">💎 Visually hidden</h2>
        <div>
            <pre class="language-html line-numbers">
                <code class="language-html">
                    &lt;!-- Bruk denne på ting som kun skal være tilgjengelig for skjermleser --&gt;
                    &lt;span class="visually-hidden"&gt;Jeg er ikke skjult fra skjermleser&lt;/span&gt;
                </code>
            </pre>
        </div>
    </div>

    <ul style="
    position: sticky;
    top: 1rem;
    right: 0;
    width: 14rem;
    max-height: calc(100vh - 15rem);
    list-style: none;
    margin: 0;
    padding: 0.25rem 0;
    margin-left: 4rem;
    overflow-y: auto;
    overflow-x: hidden;">
        <h3>Meny</h3>
        <li>
            💎 <a href="variables/#flexbox">Flexbox</a>
        </li>
        <li>
            💎 <a href="variables/#padding">Padding</a>
        </li>
        <li>
            💎 <a href="variables/#margin">Margin</a>
        </li>
        <li>
            💎 <a href="variables/#otherClasses">Andre klasser</a>
        </li>
        <li>
            💎 <a href="variables/#visuallyHidden">Visually hidden</a>
        </li>
    </ul>

</div>