<div class="m-500 flex gap-600">
    <div>
        <h1 class="fs-700">Variabler og klasser</h1>

        <h2 id="flexbox" class="fs-500 fw-semi-bold">💎 Flexbox</h2>
        <div style="max-width: 500px;">
            <!-- UTEN FLEX -->
            <div class="flex f-space-between">
                <p class="">Uten noen klasser på containeren</p>
                <div class="container">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box yellow"></div>
                </div>
            </div>
            <!-- FLEX -->
            <div class="flex f-space-between">
                <p class="flex">class="flex"</p>
                <div class="container flex">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box yellow"></div>
                </div>
            </div>
            <!-- COLUMN -->
            <div class="flex f-space-between">
                <p class="flex">class="flex f-column"</p>
                <div class="container flex f-column">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box yellow"></div>
                </div>
            </div>
            <!-- ALIGN CENTER -->
            <div class="flex f-space-between">
                <p class="flex">class="flex f-align-center"</p>
                <div class="container flex f-align-center">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box yellow"></div>
                </div>
            </div>
            <!-- JUSTIFY CENTER -->
            <div class="flex f-space-between">
                <p class="flex">class="flex f-justify-center"</p>
                <div class="container flex f-justify-center">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box yellow"></div>
                </div>
            </div>
            <!-- SPACE BETWEEN -->
            <div class="flex f-space-between">
                <p class="flex">class="flex f-space-between"</p>
                <div class="container flex f-space-between">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box yellow"></div>
                </div>
            </div>
            <!-- WRAP -->
            <div class="flex f-space-between">
                <p class="flex">class="flex f-wrap"</p>
                <div class="container flex f-wrap">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box yellow"></div>
                </div>
            </div>
            <!-- GAP -->
            <div class="flex f-space-between">
                <div>
                    <p class="flex">class="flex gap-400"</p>
                    <p class="fs-350 fw-bold">8px</p>
                </div>
                <div class="container flex gap-400">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box yellow"></div>
                </div>
            </div>
            <div class="flex f-space-between">
                <div>
                    <p class="flex">class="flex gap-500"</p>
                    <p class="fs-350 fw-bold">16px</p>
                </div>
                <div class="container flex gap-500">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box yellow"></div>
                </div>
            </div>
            <div class="flex f-space-between">
                <div>
                    <p class="flex">class="flex gap-600"</p>
                    <p class="fs-350 fw-bold">32px</p>
                </div>

                <div class="container flex gap-600">
                    <div class="box"></div>
                    <div class="box green"></div>
                    <div class="box yellow"></div>
                </div>
            </div>
        </div>

        <p-divider type="solid"></p-divider>

        <h2 id="padding" class="fs-500 fw-semi-bold">💎 Padding</h2>
        <p class="fw-semi-bold">Padding creates extra space <u class="fw-semi-bold">within</u> an element.</p>
        <pre class="language-html line-numbers">
                <code class="language-html">
                    &lt;div class="container p-400"&gt;
                        &lt;div class="box"&gt;
                            Content
                        &lt;div&gt;
                    &lt;div&gt;
                </code>
            </pre>

        <div style="max-width: 400px;">
            <!-- padding -->
            <div class="flex f-space-between">
                <div>
                    <p class="flex">class="p-400"</p>
                    <p class="flex">class="p-500"</p>
                    <p class="flex">class="p-600"</p>
                </div>
                <div class="flex gap-400" style="align-items: flex-start;">
                    <div class="containerPadding p-400">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding p-500">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding p-600">
                        <div class="box"></div>
                    </div>
                </div>
            </div>
            <!-- padding-block -->
            <div class="flex f-space-between">
                <div>
                    <p class="flex">class="p-block-400"</p>
                    <p class="flex">class="p-block-500"</p>
                    <p class="flex">class="p-block-600"</p>
                </div>
                <div class="flex gap-400" style="align-items: flex-start;">
                    <div class="containerPadding p-block-400">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding p-block-500">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding p-block-600">
                        <div class="box"></div>
                    </div>
                </div>
            </div>
            <!-- padding-inline -->
            <div class="flex f-space-between">
                <div>
                    <p class="flex">class="p-inline-400"</p>
                    <p class="flex">class="p-inline-500"</p>
                    <p class="flex">class="p-inline-600"</p>
                </div>
                <div class="flex gap-400" style="align-items: flex-start;">
                    <div class="containerPadding p-inline-400">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding p-inline-500">
                        <div class="box"></div>
                    </div>
                    <div class="containerPadding p-inline-600">
                        <div class="box"></div>
                    </div>
                </div>
            </div>
        </div>

        <p-divider></p-divider>

        <h2 id="margin" class="fs-500 fw-semi-bold">💎 Margin</h2>
        <p class="fw-semi-bold">Margin creates extra space <u class="fw-semi-bold">around</u> an element.</p>
        <pre class="language-html line-numbers">
                <code class="language-html">
                    &lt;div class="container"&gt;
                        &lt;div class="box m-400"&gt;
                            Content
                        &lt;div&gt;
                    &lt;div&gt;
                </code>
            </pre>
        <div style="max-width: 400px;">
            <!-- margin -->
            <div class="flex f-space-between">
                <div>
                    <p class="flex">class="m-400"</p>
                    <p class="flex">class="m-500"</p>
                    <p class="flex">class="m-600"</p>
                </div>
                <div class="flex gap-400" style="align-items: flex-start;">
                    <div class="containerMargin">
                        <div class="box m-400"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box m-500"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box m-600"></div>
                    </div>
                </div>
            </div>
            <!-- margin-block -->
            <div class="flex f-space-between">
                <div>
                    <p class="flex">class="m-block-400"</p>
                    <p class="flex">class="m-block-500"</p>
                    <p class="flex">class="m-block-600"</p>
                </div>
                <div class="flex gap-400" style="align-items: flex-start;">
                    <div class="containerMargin">
                        <div class="box m-block-400"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box m-block-500"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box m-block-600"></div>
                    </div>
                </div>
            </div>
            <!-- margin-inline -->
            <div class="flex f-space-between">
                <div>
                    <p class="flex">class="m-inline-400"</p>
                    <p class="flex">class="m-inline-500"</p>
                    <p class="flex">class="m-inline-600"</p>
                </div>
                <div class="flex gap-400" style="align-items: flex-start;">
                    <div class="containerMargin">
                        <div class="box m-inline-400"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box m-inline-500"></div>
                    </div>
                    <div class="containerMargin">
                        <div class="box m-inline-600"></div>
                    </div>
                </div>
            </div>
        </div>

        <p-divider></p-divider>

        <h2 id="otherClasses" class="fs-500 fw-semi-bold">💎 Andre klasser</h2>
        <div style="max-width: 400px;">
            <div class="flex f-space-between">
                <!-- FLEX -->
                <div>
                    <p class="">--radius-400</p>
                    <span class="fs-350 fw-bold">8px</span>
                </div>

                <div class="container radius">
                </div>
            </div>
        </div>

        <p-divider></p-divider>

        <h2 id="visuallyHidden" class="fs-500 fw-semi-bold">💎 Visually hidden</h2>
        <div>
            <pre class="language-html line-numbers">
                <code class="language-html">
                    &lt;!-- Bruk denne på ting som kun skal være tilgjengelig for skjermleser --&gt;
                    &lt;span class="visually-hidden"&gt;Jeg er ikke skjult fra skjermleser&lt;/span&gt;
                </code>
            </pre>
        </div>
    </div>

    <ul style="
    position: sticky;
    top: 1rem;
    right: 0;
    width: 14rem;
    max-height: calc(100vh - 15rem);
    list-style: none;
    margin: 0;
    padding: 0.25rem 0;
    margin-left: 4rem;
    overflow-y: auto;
    overflow-x: hidden;">
        <h3>Meny</h3>
        <li>
            💎 <a href="variables/#flexbox">Flexbox</a>
        </li>
        <li>
            💎 <a href="variables/#padding">Padding</a>
        </li>
        <li>
            💎 <a href="variables/#margin">Margin</a>
        </li>
        <li>
            💎 <a href="variables/#otherClasses">Andre klasser</a>
        </li>
        <li>
            💎 <a href="variables/#visuallyHidden">Visually hidden</a>
        </li>
    </ul>

</div>