.container {
    margin-bottom: var(--space-600);
    background-color: var(--clr-neutral-400);
    border-radius: var(--radius-400);
    width: 200px;
    padding: var(--space-400);
    min-height: 70px;
}
.container.flex.f-wrap {
    width: 70px;
    align-content: flex-start;
}

.box {
    background-color: var(--clr-yellow-400);
    width: 20px;
    height: 20px;
    border-radius: var(--radius-400);
}

.box.green {
    background-color: var(--clr-yellow-500);
}

.box.yellow  {
    background-color: var(--clr-red-400);
}

.containerMargin {
    width: -moz-fit-content;
    width: fit-content;
    border-radius: var(--radius-400);
    background-color: var(--clr-neutral-400);
    margin-bottom: var(--space-600);
}

.containerMargin .box {
    border: 2px solid var(--clr-neutral-900);
    background-color: var(--clr-yellow-400);
}

.containerPadding {
    border: 2px solid var(--clr-neutral-900);
    width: -moz-fit-content;
    width: fit-content;
    border-radius: var(--radius-400);
    background-color: var(--clr-neutral-400);
    margin-bottom: var(--space-600);
}

.radius {
    background-color: var(--clr-neutral-400);
    width: 70px;
}

h2 {
    margin-top: 20px;
}