<div class="m-500">
  <h1 class="as-light fs-700">Multiselect</h1>
  <p class="p-block-400">
    <a
      href="https://primeng.org/multiselect"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="pi pi-prime | p-inline-400"></i
      >https://primeng.org/multiselect</a
    >
  </p>
  <p class="p-block-400">
    <a
      href="https://dev.azure.com/hvikt-utv/_git/Hviktor?path=/Hviktor-web/src/app/_components/prime-components/multiselect"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="pi pi-code | p-inline-400"></i>Kode i repo</a
    >
  </p>

  <p-tabView>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span>Kode</span>
      </ng-template>

      <!-- import til app.module -->
      <pre class="language-typescript line-numbers">
                <code class="language-typescript">import &#123; MultiSelectModule &#125; from 'primeng/multiselect';</code>
            </pre>

      <p-divider></p-divider>

      <div class="f-column gap-500 flex">
        <p-card>
          <div class="f-column flex">
            <label for="multiselect"
              >Hvor vil du reise på ferie i sommer?</label
            >
            <p-multiSelect
              id="multiselect"
              [options]="cities"
              defaultLabel="Velg en by"
              optionLabel="name"
              display="chip"></p-multiSelect>
          </div>

          <pre class="language-html line-numbers">
                <code class="language-html">
                    &lt;div class=&quot;flex f-column&quot;&gt;
                        &lt;label for=&quot;multiselect&quot;&gt;Hvor vil du reise p&aring; ferie i sommer?&lt;/label&gt;
                        &lt;p-multiSelect id=&quot;multiselect&quot; [options]=&quot;cities&quot; defaultLabel=&quot;Velg en by&quot; optionLabel=&quot;name&quot; display=&quot;chip&quot;&gt;&lt;/p-multiSelect&gt;
                    &lt;/div&gt;
                </code>
            </pre>
          <pre class="language-typescript line-numbers">
                <code class="language-typescript">
                    import &#123; Component &#125; from '&#64;angular/core';

                    interface City &#123;
                        name: string,
                        code: string
                    &#125;

                    &#64;Component(&#123;
                        selector: 'app-multiselect',
                        templateUrl: './multiselect.component.html',
                        styleUrls: ['./multiselect.component.scss']
                    &#125;)

                    export class MultiselectComponent &#123;
                        cities: City[];
                        selectedCities: City[] = [];

                        constructor() &#123;
                            this.cities = [
                                &#123;name: 'New York', code: 'NY'&#125;,
                                &#123;name: 'Roma', code: 'RM'&#125;,
                                &#123;name: 'London', code: 'LDN'&#125;,
                                &#123;name: 'Istanbul', code: 'IST'&#125;,
                                &#123;name: 'Paris', code: 'PRS'&#125;
                            ];
                        &#125;
                    &#125;
                   
                </code>
            </pre>
        </p-card>
      </div>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <span>Info</span>
      </ng-template>
      <p>
        Her skriver vi litt om hvordan komponenten bør brukes og UX/a11y
        prinsipp du bør tenke på.
      </p>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <span>Ren HTML/CSS</span>
      </ng-template>
      <p>Her kommer kode for komponenten uten tilknyttet rammeverk.</p>
    </p-tabPanel>
  </p-tabView>
</div>
