<p-tabs value="0">
    <p-tablist>
        <p-tab value="0">Kode</p-tab>
        <p-tab value="1">Info</p-tab>
        <p-tab value="2">Ren HTML/CSS</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">  
            <!-- Import statement -->
            <pre class="language-typescript line-numbers">
                <code class="language-typescript">{{ import }}</code>
            </pre>

            <p-divider></p-divider>

            <!-- Innhold i kodedel -->
            <ng-content></ng-content>

        </p-tabpanel>
        <p-tabpanel value="1">
            <p>Her skriver vi litt om hvordan komponenten bør brukes og UX/a11y prinsipp du bør tenke på.</p>
        </p-tabpanel>
        <p-tabpanel value="2">
            <p>Her kommer kode for komponenten uten tilknyttet rammeverk.</p>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>
