<div class="m-500">
    <h1 class="as-light fs-700">Radiobutton</h1>
    <p class="p-block-400"><a href="https://primeng.org/radiobutton" target="_blank" rel="noopener noreferrer"><i
                class="pi pi-prime | p-inline-400"></i>https://primeng.org/radiobutton</a></p>
    <p class="p-block-400"><a
            href="https://dev.azure.com/hvikt-utv/_git/Hviktor?path=/Hviktor-web/src/app/_components/prime-components/radiobutton"
            target="_blank" rel="noopener noreferrer"><i class="pi pi-code | p-inline-400"></i>Kode i repo</a></p>
    <p class="p-block-400">
        <a href="https://www.figma.com/file/Dm9AHEGWKbzw2Re2t7Pz6f/HVIKTOR?type=design&node-id=249%3A571&mode=design&t=w556SgyQ18pleeal-1" target="_blank" rel="noopener noreferrer"><i
            class="pi pi-image | p-inline-400"></i>Figma</a>
    </p>

    <p-tabView>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Kode</span>
            </ng-template>

            <!-- import til app.module -->
            <pre class="language-typescript line-numbers">
                <code class="language-typescript">import &#123; RadioButtonModule &#125; from 'primeng/radiobutton';</code>
            </pre>

            <p-divider></p-divider>

            <div class="flex f-column gap-500">
                <!--Standard radiobutton-->
                <p-card>
                    <h2 class="as-light fs-500">Standard radiobutton</h2>
                    <p>Radiobutton fra primeng stylet etter Hviktor. Sett inn label for å få tilhørende label til radiobutton, og sett inn ariaLabel slik at radiobutton er tilgjengelig for skjermleser.</p>
                        <div class="flex gap-400 f-column p-600">
                            <p-radioButton inputId="category" value="radiobutton" [(ngModel)]="category"></p-radioButton>
                            <label for="category">Standard radiobutton</label>
                        </div>

                    <pre class="language-html line-numbers">
                        <code class="language-html">
                        &lt;p-radioButton inputId=&quot;category&quot; value=&quot;radiobutton&quot; [(ngModel)]=&quot;category&quot;&gt;&lt;/p-radioButton&gt;
                        &lt;label for=&quot;category&quot;&gt;Standard radiobutton&lt;/label&gt;
                        </code>
                    </pre>
                </p-card>

                <!--Disabled radiobutton-->
                <p-card>
                    <h2 class="as-light fs-500">Disabled radiobutton</h2>
                    <p>Sett inn [disabled] for å definere når en checkbox er deaktivert.</p>
                    <div class="flex gap-400 f-column p-600">
                        <p-radioButton inputId="category" value="radiobutton" [(ngModel)]="category" [disabled]="true"></p-radioButton>
                        <label for="category">Disabled radiobutton</label>
                    </div>

                    <pre class="language-html line-numbers">
                        <code class="language-html">
                        &lt;p-radioButton inputId=&quot;category&quot; value=&quot;radiobutton&quot; [(ngModel)]=&quot;category&quot; [disabled]=&quot;true&quot;&gt;&lt;/p-radioButton&gt;
                        &lt;label for=&quot;category&quot;&gt;Standard radiobutton&lt;/label&gt;
                        </code>
                    </pre>
                </p-card> 

                <!--Radiobuttons i formgroup-->
                <p-card>
                    <h2 class="as-light fs-500">Radiobuttons i form</h2>
                    <p>Bruk fieldset- og legend-tag for å definere en gruppe med tilhørende radiobuttons.</p>
                    <p>Se primeng sin dokumentasjon for mer informasjon om dynamisk bruk av radiobuttons og Reactive Forms</p>
                    <form [formGroup]="formGroup" class="p-400">
                        <fieldset class="flex f-column p-400 gap-500">
                            <legend>Velg kategori</legend>
                            <div *ngFor="let category of categories">
                                <p-radioButton [value]="category" formControlName="selectedCategory"></p-radioButton>
                                <label for="category">{{category.name}}</label>
                            </div>
                        </fieldset>
                    </form>

                    <pre class="language-html line-numbers">
                <code class="language-html">
                    &lt;form [formGroup]=&quot;formGroup&quot; class=&quot;p-400&quot;&gt;
                        &lt;fieldset class=&quot;flex f-column p-400 gap-500&quot;&gt;
                            &lt;legend&gt;Velg kategori&lt;/legend&gt;
                            &lt;div *ngFor=&quot;let category of categories&quot;&gt;
                                &lt;p-radioButton inputId=&quot;category&quot; [value]=&quot;category&quot; formControlName=&quot;selectedCategory&quot;&gt;&lt;/p-radioButton&gt;
                                &lt;label for=&quot;category&quot;&gt; &#123; &#123; category.name &#125; &#125; &lt;/label&gt;
                            &lt;/div&gt;
                        &lt;/fieldset&gt;
                    &lt;/form&gt;
                </code>
            </pre>
                    <pre class="language-typescript line-numbers">
                <code class="language-typescript">
                    import &#123; Component &#125; from '&#64;angular/core';
                    import &#123; FormControl, FormGroup &#125; from '&#64;angular/forms';

                    &#64;Component(&#123;
                        selector: 'app-radiobutton',
                        templateUrl: './radiobutton.component.html',
                        styleUrls: ['./radiobutton.component.scss']
                    &#125;)

                    export class RadiobuttonComponent &#123;

                        formGroup!: FormGroup;

                        categories: any[] = [
                            &#123; name: 'Accounting', key: 'A' &#125;,
                            &#123; name: 'Marketing', key: 'M' &#125;,
                            &#123; name: 'Production', key: 'P' &#125;,
                            &#123; name: 'Research', key: 'R' &#125;
                        ];

                        ngOnInit() &#123;
                            this.formGroup = new FormGroup(&#123;
                                selectedCategory: new FormControl()
                            &#125;);
                        &#125;
                    &#125;
                </code>
            </pre>
        </p-card>
    </div>
    </p-tabPanel>

        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Info</span>
            </ng-template>
            <p>Her skriver vi litt om hvordan komponenten bør brukes og UX/a11y prinsipp du bør tenke på.</p>
        </p-tabPanel>

        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Ren HTML/CSS</span>
            </ng-template>
            <p>Her kommer kode for komponenten uten tilknyttet rammeverk.</p>
        </p-tabPanel>
    </p-tabView>
</div>