/* You can add global styles to this file, and also import other style files */
// @import "~prismjs/themes/prism-dark.css";

p {
    font-size: 1rem;
    max-width: 75ch;
}

a {
        color: var(--clr-primary-800);
}

::placeholder { color: var(--clr-gray-600); }

main {
        margin: var(--space-400);
}

body {
        font-family: var(--ff-regular);
}


/* START - Styleclasses for chip component*/

//Green chip:
.chip-green {
        background-color: var(--clr-success-300);
}
.chip-green.p-chip .p-chip-text {
        color: var(--clr-green-800);
}

//Thinner font-weight for chip label:
.fw-regular.p-chip .p-chip-text {
        font-weight: var(--fw-regular);
}

/*Chip component in different sizes:*/

//medium chip:
.chip-md.p-chip .p-chip-text {
        font-size: 16px;
}

/* END - Styleclasses for chip component*/

