/* You can add global styles to this file, and also import other style files */
// @import "~prismjs/themes/prism-dark.css";

p {
        font-size: 1rem;
        max-width: 75ch;
}

a {
        color: var(--clr-primary-800);
}

::placeholder {
        color: var(--clr-gray-600);
}

main {
        margin: var(--space-400);
}

body {
        font-family: var(--ff-regular);
}


/* START - Styleclasses for chip component*/

//Green chip:
.chip-green {
        background-color: var(--clr-teal-300);
}

//Thinner font-weight for chip label:
.fw-regular.p-chip .p-chip-text {
        font-weight: var(--fw-regular);
}

/*Chip component in different sizes:*/

//medium chip:
.chip-md.p-chip .p-chip-text {
        font-size: 16px;
}

/* END - Styleclasses for chip component*/


/* START - Styleclasses for tab component*/
.tabVertical {
        width: fill-available;
}

//heile tabviewet
.tabVertical .p-tabview {
        display: flex;
        width: fill-available;
}

//får tabs til å legge seg horisontalt
.tabVertical .p-tabview .p-tabview-nav {
        flex-direction: column;
}

//tab container for alle tabs
.tabVertical .p-tabview-nav-container {
        width: 300px;
}

//styling per tab
.tabVertical .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        background-color: var(--clr-primary-300);
        border: none;
        border-radius: 0;
        justify-content: start;
        width: 100%;
}

//styling hover og focus per tab
.tabVertical .p-tabview .p-tabview-nav li:not(.p-highlight) .p-tabview-nav-link:hover,
.tabVertical .p-tabview .p-tabview-nav li:not(.p-highlight) .p-tabview-nav-link:focus {
        text-decoration: underline;
}

//styling for active tab
.tabVertical .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        background-color: var(--clr-neutral-50);
}

//styling for innholdet i tabben
.tabVertical .p-tabview-panels {
        background-color: var(--clr-neutral-50);
        width: fill-available;
}

/* END - Styleclasses for tab component*/