.type {
    background-color: var(--clr-neutral-400);
    border: 1px solid var(--clr-neutral-600);
    border-radius: var(--radius-400);
    padding: var(--space-400);
    margin-right: var(--space-400);
    margin-bottom: var(--space-400);
    text-align: center;
    width: 350px;
}

.icon {
    .pi {
        font-size: 1.5rem;
    }

}

.maxWidth {
    max-width: 1525px;
}


.pi.pi-check-circle { color: var(--clr-green-400); margin-right: var(--space-400); }
.pi.pi-question-circle { color: var(--clr-yellow-400); margin-right: var(--space-400); }
.pi.pi-times-circle { color: var(--clr-red-400); margin-right: var(--space-400); }