<p-card class="m-400">
  <span class="fw-semi-bold fs-350">24.10.2024</span>

  <h2 class="as-medium fs-500 fw-semi-bold">Oppdatert til v18</h2>
  <p>
    💎 Vi har oppdatert Hviktor til
    <span class="fw-bold">angular/cli&#64;18.2.10</span>
  </p>
</p-card>

<p-card class="m-400">
  <span class="fw-semi-bold fs-350">29.02.2024</span>

  <h2 class="as-medium fs-500 fw-semi-bold">
    Npm-pakken er oppdatert til 17.3.0
  </h2>
  <p>
    💎 Vi har også oppdatert Hviktor til
    <span class="fw-bold">angular/cli&#64;17.2.2</span> og
    <span class="fw-bold">primeng&#64;17.8.0</span>
  </p>
</p-card>

<p-card class="m-400">
  <span class="fw-semi-bold fs-350">29.02.2024</span>

  <h2 class="as-medium fs-500 fw-semi-bold">
    Oppdatert radiobuttons og lagt til flere variabler
  </h2>
  <p>
    💎 Etter revidering og redesign i figma er nå stilen til
    <a
      routerLink="/components/radiobutton"
      target="_blank"
      rel="noopener noreferrer"
      >Radiobuttons</a
    >
    oppdatert.
  </p>
  <p>
    💎 Det er lagt til flere
    <a routerLink="/variables" target="_blank" rel="noopener noreferrer"
      >Variabler og klasser</a
    >
    for blant annet margin og padding.
  </p>
</p-card>

<p-card class="m-400">
  <span class="fw-semi-bold fs-350">26.02.2024</span>

  <h2 class="as-medium fs-500 fw-semi-bold">Nytt komponent lagt til: Banner</h2>
  <p>
    💎 Under "Andre komponenter" i menyen vil vi legge til komponenter som ikke
    er tilgjengelig fra primeng
  </p>
  <p>
    💎 Komponentet
    <a
      routerLink="/components/coming-soon"
      target="_blank"
      rel="noopener noreferrer"
      >"Kommer snart"-banner</a
    >
    er nå lagt til i Hviktor
  </p>
  <p>
    💎 Et "Kommer snart"-banner har tidligere vært brukt i både Nasjonale
    Tjenester og i Lokaliseringsprosjektet. Siden dette er et komponent som kan
    bli brukt i flere prosjekter på sikt, har vi valgt å legge det til i
    Hviktor.
  </p>
  <p>
    💎 Ettersom dette er et komponent som gjerne må tilpasses utifra hvor den
    skal brukes, så anbefaler vi at man kopierer koden inn i scss-filen hvor
    banneret skal brukes, og gjør så lokale tilpasninger for å få banneret
    akkurat riktig plassert.
  </p>
</p-card>

<p-card class="m-400">
  <span class="fw-semi-bold fs-350">26.02.2024</span>

  <h2 class="as-medium fs-500 fw-semi-bold">
    Npm-pakken er oppdatert til 17.2.0
  </h2>
  <p>
    💎 Hviktor sin npm-pakke
    <a
      href="https://www.npmjs.com/package/@helsevestikt/hviktor-library"
      target="_blank"
      rel="noopener noreferrer"
      >&#64;helsevestikt/hviktor-library</a
    >
    er nå oppdatert til 17.2.0
  </p>
  <p class="fw-bold">Oppdateringen kommer med følgende endringer:</p>
  <p>
    💎 Revidert og oppdatert stil for
    <a
      routerLink="/components/checkbox"
      target="_blank"
      rel="noopener noreferrer"
      >Checkbox</a
    >
  </p>
  <p>
    💎 Revidert og oppdatert stil for standard
    <a routerLink="/components/tabs" target="_blank" rel="noopener noreferrer"
      >Tabs</a
    >
  </p>
  <p>💎 a-tag lenker har fått fargen #1466B8 (--clr-primary-400)</p>
  <p>💎 Legend-tag får samme stil som en vanlig label-tag</p>
</p-card>

<p-card class="m-400">
  <span class="fw-semi-bold fs-350">26.02.2024</span>

  <h2 class="as-medium fs-500 fw-semi-bold">
    Oppdatert Checkbox etter revidering
  </h2>
  <p>
    💎 Etter revidering og redesign i figma er nå stilen til
    <a
      routerLink="/components/checkbox"
      target="_blank"
      rel="noopener noreferrer"
      >Checkbox</a
    >
    oppdatert.
  </p>
  <p-checkbox
    label="Ny checkbox!"
    value="checkbox"
    ariaLabel="Ny checkbox"></p-checkbox>
</p-card>

<p-card class="m-400">
  <span class="fw-semi-bold fs-350">14.02.2024</span>

  <h2 class="as-medium fs-500 fw-semi-bold">
    Nå er Hviktor tilgjengelig via npm!
  </h2>
  <p>
    💎 Stilfilene og fontene for Hviktor er nå
    <a
      href="https://www.npmjs.com/package/@helsevestikt/hviktor-library"
      target="_blank"
      rel="noopener noreferrer"
      >tilgjengelig via npm</a
    >
  </p>
  <p>
    💎 Oppskriften for å legge til Hviktor i et prosjekt er oppdatert under
    fanen "Kom i gang"
  </p>
</p-card>

<p-card class="m-400">
  <span class="fw-semi-bold fs-350">12.02.2024</span>

  <h2 class="as-medium fs-500 fw-semi-bold">Revidering av knapper og farger</h2>
  <p>
    💎
    <a
      routerLink="/components/buttons"
      target="_blank"
      rel="noopener noreferrer"
      >Knapper</a
    >
    er nå oppdatert etter revidering. Knappene er oppdatert med de riktige
    fargene og padding. Label på knapp har fått Albert Sans som font.
  </p>
  <p>
    💎 Etter en revidering av farger i figma er nå
    <a routerLink="/colours" target="_blank" rel="noopener noreferrer"
      >fargene</a
    >
    i Hviktor også oppdatert.
  </p>
  <p>
    💎 Det er også lagt til en ny --space variabel for 24px (--space-600).
    Tidligere --space-600 på 32px er nå --space-700
  </p>
</p-card>

<p-card class="m-400">
  <span class="fw-semi-bold fs-350">29.01.2024</span>

  <h2 class="as-medium fs-500 fw-semi-bold">
    Oppdatert CSS-reset og lagt til vertikal tab-stil.
  </h2>
  <p>
    💎 CSS-reset fila er oppdatert basert på Kevin Powell sin nyaste YouTube
    video
    <a
      href="https://www.youtube.com/watch?v=cCAtD_BAHNw"
      target="_blank"
      rel="noopener noreferrer"
      >https://www.youtube.com/watch?v=cCAtD_BAHNw</a
    >
    og Andy Bell sin artikkel
    <a
      href="https://piccalil.li/blog/a-more-modern-css-reset/"
      target="_blank"
      rel="noopener noreferrer"
      >https://piccalil.li/blog/a-more-modern-css-reset/</a
    >.
  </p>
  <p>
    💎 En ny styling for vertikale tabs vart laga i forbindelse med Nasjonale
    tjenester, den blir vist på prime-komponenten
    <a routerLink="/components/tabs" target="_blank" rel="noopener noreferrer"
      >Tabs</a
    >, for å få stilen må du legge til klassen "tabVertical" på komponenten.
  </p>
</p-card>

<p-card class="m-400">
  <span class="fw-semi-bold fs-350">19.01.2024</span>

  <h2 class="as-medium fs-500 fw-semi-bold">Nytt komponent lagt til: Chip</h2>
  <p>
    Chip fra primeng er lagt til under komponenter. Det er lagt til beskrivelse
    og kode for ulike typer Chiper.
  </p>
  <p class="fw-bold">
    Det vil etter hvert komme Chip i flere farger enn de som er tilgjengelig nå.
  </p>
  <p-chip label="Chip komponent!" image="assets/icons/celebration.svg"></p-chip>
</p-card>

<p-card class="m-400">
  <span class="fw-semi-bold fs-350">17.01.2024</span>

  <h2 class="as-medium fs-500 fw-semi-bold">Oppdatert til v17</h2>
  <p>
    Vi har oppdatert Hviktor til
    <span class="fw-bold">angular/cli&#64;17.0.10</span> og
    <span class="fw-bold">primeng&#64;17.3.2</span>
  </p>
</p-card>
