<div class="m-500">
    <h1 class="fs-700 p-block-400">Typografi</h1>
    <p-divider></p-divider>

    <div class="flex f-column gap-500">
        <div class="flex f-align-center gap-400 | warningBlock">
            <p>Funker ikkje heilt enda, så refresh sida for å vise koden skikkelig og få fram "Copy" knappen.
            </p>
            <p-button icon="pi pi-refresh" (click)="refresh()"
                styleClass="p-button-rounded p-button-outlined"></p-button>
        </div>

        <p-card>
            <!-- DISPLAY -->
            <div class="flex f-space-between f-align-center">
                <div>
                    <span class="fw-extra-light fs-800">Display</span>
                    <p class="lighter">Modaltitler</p>
                </div>
                <div class="flex gap-600">
                    <p>fw-extra-light</p>
                    <p>fs-800</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;span class="fw-extra-light fs-800"&gt;Display&lt;/span&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- HEADER H1 -->
            <div class="flex f-space-between f-align-center">
                <div>
                    <h1 class="fw-light fs-750">Header</h1>
                    <p class="lighter">Sidetittel H1</p>
                </div>
                <div class="flex gap-600">
                    <p>fw-light</p>
                    <p>fs-750</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;h1 class="fw-light fs-750"&gt;Header&lt;/h1&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- HEADER H2 -->
            <div class="flex f-space-between f-align-center">
                <div>
                    <h2 class="fw-medium fs-700">Title 1</h2>
                    <p class="lighter">Tittel tilsvarende H2</p>
                </div>
                <div class="flex gap-600">
                    <p>fw-medium</p>
                    <p>fs-700</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;h2 class="fw-medium fs-700"&gt;Title 1&lt;/h2&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- HEADER H3 -->
            <div class="flex f-space-between f-align-center">
                <div>
                    <h3 class="fw-medium fs-650">Title 2</h3>
                    <p class="lighter">Tittel tilsvarende H3</p>
                </div>
                <div class="flex gap-600">
                    <p>fw-medium</p>
                    <p>fs-650</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;h3 class="fw-medium fs-650"&gt;Title 2&lt;/h3&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- HEADER H4 -->
            <div class="flex f-space-between f-align-center">
                <div>
                    <h4 class="fw-medium fs-600">Title 3</h4>
                    <p class="lighter">Tittel tilsvarende H4</p>
                </div>
                <div class="flex gap-600">
                    <p>fw-medium</p>
                    <p>fs-600</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;h4 class="fw-medium fs-600"&gt;Title 3&lt;/h4&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- HEADER H5 -->
            <div class="flex f-space-between f-align-center">
                <div>
                    <h5 class="fw-medium fs-550">Title 4</h5>
                    <p class="lighter">Tittel tilsvarende H5</p>
                </div>
                <div class="flex gap-600">
                    <p>fw-medium</p>
                    <p>fs-550</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;h5 class="fw-medium fs-550"&gt;Title 4&lt;/h5&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- HEADER H6 -->
            <div class="flex f-space-between f-align-center">
                <div>
                    <h6 class="fw-medium fs-500">Title 5</h6>
                    <p class="lighter">Tittel tilsvarende H6</p>
                </div>
                <div class="flex gap-600">
                    <p>fw-medium</p>
                    <p>fs-500</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;h6 class="fw-medium fs-500"&gt;Title 5&lt;/h6&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- HEADLINE -->
            <div class="flex f-space-between f-align-center">
                <div>
                    <span class="fw-regular fs-500">Headline</span>
                    <p class="lighter">Trenger bedre beskrivelse</p>
                </div>
                <div class="flex gap-600">
                    <p>fw-regular</p>
                    <p>fs-500</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;span class="fw-regular fs-500"&gt;Headline&lt;/span&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- PARAGRAPH -->
            <div class="flex f-space-between f-align-center">
                <div>
                    <p>Paragraph</p>
                    <p class="lighter">Brødtekst</p>
                </div>
                <div class="flex gap-600">
                    <p>fw-regular</p>
                    <p>fs-400</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;p&gt;Paragraph&lt;/p&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- PARAGRAPH SEMI BOLD -->
            <div class="flex f-space-between f-align-center">
                <div>
                    <p class="fw-semi-bold">Paragraph</p>
                    <p class="lighter">Brødtekst</p>
                </div>
                <div class="flex gap-600">
                    <p>fw-semi-bold</p>
                    <p>fs-400</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;p class="fw-semi-bold"&gt;Paragraph&lt;/p&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- OVERLINE -->
            <div class="flex f-space-between f-align-center">
                <div>
                    <p class="fw-semi-bold uppercase fs-350">Overline</p>
                    <p class="lighter">Beskrivelse over en Title</p>
                </div>
                <div class="flex gap-600">
                    <p>fw-semi-bold, uppercase</p>
                    <p>fs-350</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;p class="fw-semi-bold uppercase fs-350"&gt;Overline&lt;/p&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- CAPTION -->
            <div class="flex f-space-between f-align-center">
                <div>
                    <p class="fw-semi-bold fs-350">Caption</p>
                    <p class="lighter">Detaljetekst (klokkeslett m.m)</p>
                </div>
                <div class="flex gap-600">
                    <p>fw-semi-bold</p>
                    <p>fs-350</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;p class="fw-semi-bold fs-350"&gt;Caption&lt;/p&gt;</code>
            </pre>
            <p-divider></p-divider>
         
        </p-card>
    </div>
</div>