<div class="m-4">
    <h1>Typografi</h1>
    <p-divider></p-divider>

    <div class="flex flex-col gap-4">
        <p-card>
            <!-- DISPLAY -->
            <div class="flex justify-between items-center">
                <div>
                    <span class="font-thin text-6xl">Display</span>
                    <p class="text-neutral-600">Modaltitler</p>
                </div>
                <div class="flex gap-4">
                    <p>font-thin</p>
                    <p>text-6xl</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;span class="font-thin text-6xl"&gt;Display&lt;/span&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- HEADER H1 -->
            <div class="flex justify-between items-center">
                <div>
                    <h1>Header</h1>
                    <p class="text-neutral-600">Sidetittel H1</p>
                </div>
                <div class="flex gap-4">
                    <p>font-light</p>
                    <p>text-5xl</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;h1&gt;Header&lt;/h1&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- HEADER H2 -->
            <div class="flex justify-between items-center">
                <div>
                    <h2>Title 1</h2>
                    <p class="text-neutral-600">Tittel tilsvarende H2</p>
                </div>
                <div class="flex gap-4">
                    <p>font-medium</p>
                    <p>text-4xl</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;h2&gt;Title 1&lt;/h2&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- HEADER H3 -->
            <div class="flex justify-between items-center">
                <div>
                    <h3>Title 2</h3>
                    <p class="text-neutral-600">Tittel tilsvarende H3</p>
                </div>
                <div class="flex gap-4">
                    <p>font-medium</p>
                    <p>text-3xl</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;h3&gt;Title 2&lt;/h3&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- HEADER H4 -->
            <div class="flex justify-between items-center">
                <div>
                    <h4>Title 3</h4>
                    <p class="text-neutral-600">Tittel tilsvarende H4</p>
                </div>
                <div class="flex gap-4">
                    <p>font-medium</p>
                    <p>text-2xl</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;h4&gt;Title 3&lt;/h4&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- HEADER H5 -->
            <div class="flex justify-between items-center">
                <div>
                    <h5>Title 4</h5>
                    <p class="text-neutral-600">Tittel tilsvarende H5</p>
                </div>
                <div class="flex gap-4">
                    <p>font-medium</p>
                    <p>text-xl</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;h5&gt;Title 4&lt;/h5&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- HEADER H6 -->
            <div class="flex justify-between items-center">
                <div>
                    <h6>Title 5</h6>
                    <p class="text-neutral-600">Tittel tilsvarende H6</p>
                </div>
                <div class="flex gap-4">
                    <p>font-medium</p>
                    <p>text-lg</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;h6&gt;Title 5&lt;/h6&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- HEADLINE -->
            <div class="flex justify-between items-center">
                <div>
                    <span class="font-normal text-xl">Headline</span>
                    <p class="text-neutral-600">Trenger bedre beskrivelse</p>
                </div>
                <div class="flex gap-4">
                    <p>font-normal</p>
                    <p>text-xl</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;span class="font-normal text-xl"&gt;Headline&lt;/span&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- PARAGRAPH -->
            <div class="flex justify-between items-center">
                <div>
                    <p>Paragraph</p>
                    <p class="text-neutral-600">Brødtekst</p>
                </div>
                <div class="flex gap-4">
                    <p>font-normal</p>
                    <p>text-base</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;p&gt;Paragraph&lt;/p&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- PARAGRAPH SEMI BOLD -->
            <div class="flex justify-between items-center">
                <div>
                    <p class="font-semibold">Paragraph</p>
                    <p class="text-neutral-600">Brødtekst</p>
                </div>
                <div class="flex gap-4">
                    <p>font-semibold</p>
                    <p>fs-400</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;p class="font-semibold"&gt;Paragraph&lt;/p&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- OVERLINE -->
            <div class="flex justify-between items-center">
                <div>
                    <p class="font-semibold uppercase text-sm">Overline</p>
                    <p class="text-neutral-600">Beskrivelse over en Title</p>
                </div>
                <div class="flex gap-4">
                    <p>font-semibold, uppercase</p>
                    <p>text-sm</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;p class="font-semibold uppercase text-sm"&gt;Overline&lt;/p&gt;</code>
            </pre>
            <p-divider></p-divider>

            <!-- CAPTION -->
            <div class="flex justify-between items-center">
                <div>
                    <p class="font-semibold text-sm">Caption</p>
                    <p class="text-neutral-600">Detaljetekst (klokkeslett m.m)</p>
                </div>
                <div class="flex gap-4">
                    <p>font-semibold</p>
                    <p>text-sm</p>
                </div>
            </div>
            <pre class="language-html line-numbers">
                <code class="language-html">&lt;p class="font-semibold text-sm"&gt;Caption&lt;/p&gt;</code>
            </pre>
            <p-divider></p-divider>
         
        </p-card>
    </div>
</div>