<main class="m-500">
    <h1 class="as-light fs-700">Bibliotek for Hviktor</h1>
    
    <p-tabView>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Nytt siden sist</span>
            </ng-template>
            <app-news-feed></app-news-feed>
        </p-tabPanel>

        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Kom i gang</span>
            </ng-template>

            <p-card>
                <h2 class="as-medium fs-500 fw-semi-bold">1. Opprett et nytt prosjekt med Angular</h2>
                <p>💎 npm install -g &#64;angular/cli&#64;17.0.10</p>
                <p>💎 ng new my-app</p>
                <p>💎 Would you like to add Angular routing? <span class="fw-bold">Yes</span></p>
                <p>💎 Which stylesheet format would you like to use? <span class="fw-bold">SCSS</span></p>
                <img src="../../../assets/img/angular.PNG" alt="">
            </p-card>
        
            <p-card>
                <h2 class="as-medium fs-500 fw-semi-bold">2. Legg til primeng i prosjektet</h2>
                <p>💎 Gå inn i prosjektet du opprettet: cd my-app</p>
                <p>💎 npm install primeng&#64;17.3.2</p>
                <p>💎 npm install primeicons</p>
            </p-card>

            <p-card>
                <h2 class="as-medium fs-500 fw-semi-bold">3.Legg til Hviktor fra npm</h2>
                <p>💎 Stilfilene og fontene for Hviktor er nå tilgjengelig fra <a href="https://www.npmjs.com/package/@helsevestikt/hviktor-library" target="_blank"
                rel="noopener noreferrer">npm &#64;helsevestikt/hviktor-library</a>.</p>
                <p>💎 legg til i prosjektet ditt: npm i &#64;helsevestikt/hviktor-library
                <img src="../../../assets/img/npm.PNG" alt="">
            </p-card>
        
            <p-card>
                <h2 class="as-medium fs-500 fw-semi-bold">5. Oppdater angular.json</h2>
                <p>💎 Oppdater angular.json med:</p>
                    <pre><code>"styles": [
                    "node_modules/primeicons/primeicons.css",
                    "node_modules/&#64;helsevestikt/hviktor-library/styles/prime-theme.scss",
                    "node_modules/primeng/resources/primeng.min.css",
                    "node_modules/&#64;helsevestikt/hviktor-library/styles/css-reset.scss",
                    "node_modules/&#64;helsevestikt/hviktor-library/styles/base.scss",
                    "node_modules/&#64;helsevestikt/hviktor-library/styles/styles.scss",
                    "src/styles.scss"
            ],
                </code></pre>
                <!-- <p>💎 Vi anbefaler at hvis man skal gjøre egne lokale stil-endringer,
                     at det gjøres i et komponents egen stil-fil eller i prosjektes styles.scss som ligger under "src". </p> -->
            </p-card>
        
            <p-card>
                <h2 class="as-medium fs-500 fw-semi-bold">6. Legg til BrowserAnimationsModule</h2>
                <p>💎 For at enkelte prime-komponentet skal fungere må du importere BrowserAnimationsModule i app.modules filen.</p>
                <img src="../../../assets/img/browseranimation.PNG" alt="">
            </p-card>
        
            <p-card>
                <h2 class="as-medium fs-500 fw-semi-bold">7. Legg til primeng-komponenter i app.module</h2>
                <p>💎 Primeng komponentene som du skal bruke i prosjektet, må legges til og importeres i app.module.ts-filen</p>
                <p>💎 Eksempel ved knapp:</p>
                <img src="../../../assets/img/primeModules.png" alt="">
            </p-card>

        </p-tabPanel>
    </p-tabView>
</main>