<main class="m-500">
    <h1 class="fs-700">Bibliotek for Hviktor</h1>

    <p>Opprett et nytt prosjekt med Angular og Prime ng</p>
    <ol>
        <li>npm install -g @angular/cli</li>
        <li>ng new my-app</li>
        <li>npm install primeng</li>
        <li>npm install primeicons</li>
        <li>Kopier font-filene i <a href="https://dev.azure.com/hvikt-utv/_git/Hviktor?path=/Hviktor-web/src/assets/static" target="_blank" rel="noopener noreferrer">assets\static\ mappa</a> og legg inn i prosjektet ditt.</li>
        <li>Kopier style-filene i <a href="https://dev.azure.com/hvikt-utv/_git/Hviktor?path=/Hviktor-web/src/styles" target="_blank" rel="noopener noreferrer">styles mappa</a> og legg inn i prosjektet ditt.</li>
    
        <p class="fw-bold">NB: prismjs er ikkje nødvendig å ta med i prosjektet.</p>
    </ol>
</main>