.options {

    a {
        height: 150px;
        width: 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: var(--clr-neutral-50);
        border: 1px solid var(--clr-neutral-500);
        border-radius: var(--radius-400);
        gap: var(--space-500);
        padding: var(--space-500);
    }

    a:hover,
    a:focus {
        background-color: var(--clr-neutral-400);
        cursor: pointer;
    }
}

.options {
    a.disabled {
        position: relative;

        p {
            color: var(--clr-neutral-600);
        }
        img {
            opacity: .4;
        }
        
    }
    a.disabled:hover,
    a.disabled:focus {
        background-color: white;
        cursor: default;
    }

    .ribbon {
        width: 140px;
        height: 90px;
        overflow: hidden;
        position: absolute;
      }

      .ribbon span {
        position: absolute;
        display: block;
        width: 225px;
        padding: 10px 0;
        background: var(--clr-yellow-300);
        color: var(--clr-neutral-900);
        font-size: 10px;
        text-align: center;
      }
      
      /* top right*/
      .ribbon-top-right {
        top: 0;
        right: 0;
      }
      
      .ribbon-top-right span {
        left: -15px;
        top: 15px;
        transform: rotate(35deg);
      } 
}