<div class="m-500">
    <h1 class="as-light fs-700">Kommer snart banner</h1>

    <!-- <p class="p-block-400"><a href="https://primeng.org/accordion" target="_blank" rel="noopener noreferrer"><i
                class="pi pi-prime | p-inline-400"></i>https://primeng.org/accordion</a></p> -->
    <p class="p-block-400"><a
            href="https://dev.azure.com/hvikt-utv/_git/Hviktor?path=/Hviktor-web/src/app/_components/hviktor-components/coming-soon"
            target="_blank" rel="noopener noreferrer"><i class="pi pi-code | p-inline-400"></i>Kode i repo</a></p>

    <p-tabView>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Ren HTML/CSS</span>
            </ng-template>

            <div class="flex f-column gap-500">
                <p-card>

            <!-- komponent -->
            <div class="options flex f-wrap gap-400">
                <a class="disabled">
                    <img src="../../../../assets/icons/celebration.svg" alt="" srcset="">
                    <p>Eksporter</p>
                    <div class="ribbon ribbon-top-right"><span class="fw-semi-bold">Kommer snart</span></div>
                </a>
                <a>
                    <img src="../../../../assets/icons/celebration.svg" alt="" srcset="">
                    <p>Analyser</p>
                </a>
            </div>
                    
            <pre class="language-html line-numbers">
                <code class="language-html">
                    &lt;div class="options flex f-wrap gap-400"&gt;
                        &lt;a class="disabled"&gt;
                            &lt;img src="../../../../assets/icons/celebration.svg" alt="" srcset=""&gt;
                            &lt;p&gt;Eksporter&lt;/p&gt;
                            &lt;div class="ribbon ribbon-top-right">&lt;span class="fw-semi-bold"&gt;Kommer snart&lt;/span&gt;&lt;/div&gt;
                        &lt;/a&gt;
                        &lt;a&gt;
                            &lt;img src="../../../../assets/icons/celebration.svg" alt="" srcset=""&gt;
                            &lt;p>Analyser&lt;/p&gt;
                        &lt;/a&gt;
                    &lt;/div&gt;
                </code>
            </pre>

            <pre class="language-html line-numbers">
                <code class="language-css">
                    .options &#123;
                        a &#123;
                            height: 150px;
                            width: 270px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            background-color: var(--clr-neutral-50);
                            border: 1px solid var(--clr-neutral-500);
                            border-radius: var(--radius-400);
                            gap: var(--space-500);
                            padding: var(--space-500);
                        &#125;
                    
                        a:hover,
                        a:focus &#123;
                            background-color: var(--clr-neutral-400);
                            cursor: pointer;
                            &#125;
                    &#125;
                    
                    .options &#123;
                        a.disabled &#123;
                            position: relative;
                            p &#123;
                                color: var(--clr-neutral-600);
                            &#125;
                            img &#123;
                                opacity: .4;
                            &#125;
                        &#125;

                        a.disabled:hover,
                        a.disabled:focus &#123;
                            background-color: white;
                            cursor: default;
                        &#125;
                    
                        .ribbon &#123;
                            width: 140px;
                            height: 90px;
                            overflow: hidden;
                            position: absolute;
                        &#125;
                    
                        .ribbon span &#123;
                            position: absolute;
                            display: block;
                            width: 225px;
                            padding: 10px 0;
                            background: var(--clr-yellow-300);
                            color: var(--clr-neutral-900);
                            font-size: 10px;
                            text-align: center;
                        &#125;
                          
                        /* top right*/
                        .ribbon-top-right &#123;
                            top: 0;
                            right: 0;
                        &#125;
                          
                        .ribbon-top-right span &#123;
                            left: -15px;
                            top: 15px;
                            transform: rotate(35deg);
                        &#125;
                    &#125;
                </code>
            </pre>
                </p-card>
            </div>
        </p-tabPanel>

        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Info</span>
            </ng-template>
            <p>Her skriver vi litt om hvordan komponenten bør brukes og UX/a11y prinsipp du bør tenke på.</p>
        </p-tabPanel>

    </p-tabView>

</div>