<div class="m-500">
    <h1 class="fs-700">Farger</h1>
    <p-tabView [scrollable]="true">

       

        <!-- PRIMARY -->
        <p-tabPanel>
            <ng-template pTemplate="header">
                <!-- <div class="clrChip | clr-primary-400"></div> -->
                <i class="pi pi-check-circle"></i>
                <span>Colours</span>
            </ng-template>

            <div class="color">
                <div class="clr-neutral-200">
                    <div class="chip"></div>
                    <p class="name">--clr-neutral-200</p>
                </div>
                <div class="clr-neutral-300">
                    <div class="chip"></div>
                    <p class="name">--clr-neutral-300</p>
                </div>
                <div class="clr-neutral-400">
                    <div class="chip"></div>
                    <p class="name">--clr-neutral-400</p>
                </div>
                <div class="clr-neutral-500">
                    <div class="chip"></div>
                    <p class="name">--clr-neutral-500</p>
                </div>
                <div class="clr-neutral-600">
                    <div class="chip"></div>
                    <p class="name">--clr-neutral-600</p>
                </div>
            </div>

            <div class="color">
                <div class="clr-primary-200">
                    <div class="chip"></div>
                    <p class="name">--clr-primary-200</p>
                </div>
                <div class="clr-primary-300">
                    <div class="chip"></div>
                    <p class="name">--clr-primary-300</p>
                </div>
                <div class="clr-primary-400">
                    <div class="chip"></div>
                    <p class="name">--clr-primary-400</p>
                </div>
                <div class="clr-primary-500">
                    <div class="chip"></div>
                    <p class="name">--clr-primary-500</p>
                </div>
            </div>

            <div class="color">
                <div class="clr-success-200">
                    <div class="chip"></div>
                    <p class="name">--clr-success-200</p>
                </div>
                <div class="clr-success-300">
                    <div class="chip"></div>
                    <p class="name">--clr-success-300</p>
                </div>
                <div class="clr-success-400">
                    <div class="chip"></div>
                    <p class="name">--clr-success-400</p>
                </div>
                <div class="clr-success-500">
                    <div class="chip"></div>
                    <p class="name">--clr-success-500</p>
                </div>
            </div>

            <div class="color">
                <div class="clr-neutral-200">
                    <div class="chip"></div>
                    <p class="name" style="border: none;"></p>
                </div>
                <div class="clr-warning-300">
                    <div class="chip"></div>
                    <p class="name">--clr-warning-300</p>
                </div>
                <div class="clr-warning-400">
                    <div class="chip"></div>
                    <p class="name">--clr-warning-400</p>
                </div>
                <div class="clr-warning-500">
                    <div class="chip"></div>
                    <p class="name">--clr-warning-500</p>
                </div>
            </div>

            <div class="color">
                <div class="clr-neutral-200">
                    <div class="chip"></div>
                    <p class="name" style="border: none;"></p>
                </div>
                <div class="clr-danger-300">
                    <div class="chip"></div>
                    <p class="name">--clr-danger-300</p>
                </div>
                <div class="clr-danger-400">
                    <div class="chip"></div>
                    <p class="name">--clr-danger-400</p>
                </div>
                <div class="clr-danger-500">
                    <div class="chip"></div>
                    <p class="name">--clr-danger-500</p>
                </div>
            </div>
        </p-tabPanel>

         <!-- HOW TO -->
         <p-tabPanel>
            <ng-template pTemplate="header">
                <span class="fw-semi-bold">How to</span>
            </ng-template>
            <div class="howTo">
                <div>


                    <p class="fw-semi-bold fs-500">Eksempel 1:</p>
                    <pre>
                <code>
                    <span class="fw-semi-bold">CSS:</span>
                    .testComponent {{ '{' }}
                        background-color: var(--clr-primary-400);
                        color: var(--clr-neutral-200);
                    {{ '}' }}
                </code>
            </pre>
                    <p class=" fw-semi-bold fs-500">Resultat:</p>
                    <div class="testComponent">
                        Test Component
                    </div>
                </div>
                <div>


                    <p class="fw-semi-bold fs-500">Eksempel 2:</p>
                    <pre>
                <code>
                    <span class="fw-semi-bold">HTML:</span>
                    {{ '<' }}div class="clr-primary-200"{{ '>' }}
                        Test Component Background
                    {{ '<' }}div{{ '>' }}

                </code>
            </pre>
                    <p class=" fw-semi-bold fs-500">Resultat:</p>
                    <div class="testComponentBg | clr-primary-200" style="width: fit-content; padding: 10px;">
                        Test Component Background
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>

</div>