<div class="m-4">
  <h1>Farger</h1>
  <p-divider></p-divider>

  <!-- Nøytralt -->
  <div class="color-container">
    <h2>Nøytralt</h2>
    <div class="color">
      <div class="bg-neutral-50">
        <div class="chip"></div>
        <p class="name">--bg-neutral-50 <br />#FFFFFF</p>
      </div>
      <div class="bg-neutral-100">
        <div class="chip"></div>
        <p class="name">--bg-neutral-100 <br />#FCFCFC</p>
      </div>
      <div class="bg-neutral-200">
        <div class="chip"></div>
        <p class="name">--bg-neutral-200 <br />#FAFAFA</p>
      </div>
      <div class="bg-neutral-300">
        <div class="chip"></div>
        <p class="name">--bg-neutral-300 <br />#F7F7F7</p>
      </div>
      <div class="bg-neutral-400">
        <div class="chip"></div>
        <p class="name">--bg-neutral-400 <br />#F7F7F7</p>
      </div>
      <div class="bg-neutral-500">
        <div class="chip"></div>
        <p class="name">--bg-neutral-500 <br />#F4F4F4</p>
      </div>
      <div class="bg-neutral-600">
        <div class="chip"></div>
        <p class="name">--bg-neutral-600 <br />#C4C4C4</p>
      </div>
      <div class="bg-neutral-700">
        <div class="chip"></div>
        <p class="name">--bg-neutral-700 <br />#919191</p>
      </div>
      <div class="bg-neutral-800">
        <div class="chip"></div>
        <p class="name">--bg-neutral-800 <br />#616161</p>
      </div>
      <div class="bg-neutral-900">
        <div class="chip"></div>
        <p class="name">--bg-neutral-900 <br />#303030</p>
      </div>
      <div class="bg-neutral-950">
        <div class="chip"></div>
        <p class="name">--bg-neutral-950 <br />#1A1A1A</p>
      </div>
    </div>
  </div>

  <!-- Primærfarger (Blå) -->
  <div class="color-container">
    <h2>Primærfarge (blå)</h2>
    <div class="color">
      <div class="bg-blue-50">
        <div class="chip"></div>
        <p class="name">--bg-blue-50 <br />#E3F0FC</p>
      </div>
      <div class="bg-blue-100">
        <div class="chip"></div>
        <p class="name">--bg-blue-100 <br />#C8E0F9</p>
      </div>
      <div class="bg-blue-200">
        <div class="chip"></div>
        <p class="name">--bg-blue-200 <br />#91C2F3</p>
      </div>
      <div class="bg-blue-300">
        <div class="chip"></div>
        <p class="name">--bg-blue-300 <br />#59A3ED</p>
      </div>
      <div class="bg-blue-400">
        <div class="chip"></div>
        <p class="name">--bg-blue-400 <br />#2285E7</p>
      </div>
      <div class="bg-blue-500">
        <div class="chip"></div>
        <p class="name">--bg-blue-500 <br />#1466B8</p>
      </div>
      <div class="bg-blue-600">
        <div class="chip"></div>
        <p class="name">--bg-blue-600 <br />#105293</p>
      </div>
      <div class="bg-blue-700">
        <div class="chip"></div>
        <p class="name">--bg-blue-700 <br />#0C3D6E</p>
      </div>
      <div class="bg-blue-800">
        <div class="chip"></div>
        <p class="name">--bg-blue-800 <br />#08294A</p>
      </div>
      <div class="bg-blue-900">
        <div class="chip"></div>
        <p class="name">--bg-blue-900 <br />#041425</p>
      </div>
      <div class="bg-blue-950">
        <div class="chip"></div>
        <p class="name">--bg-blue-950 <br />#020A12</p>
      </div>
    </div>
  </div>

  <!-- Grønn -->
  <div class="color-container">
    <h2>Grønn</h2>
    <div class="color">
      <div class="bg-green-50">
        <div class="chip"></div>
        <p class="name">--bg-green-50 <br />#DFFCDF</p>
      </div>
      <div class="bg-green-100">
        <div class="chip"></div>
        <p class="name">--bg-green-100 <br />#BFF8BF</p>
      </div>
      <div class="bg-green-200">
        <div class="chip"></div>
        <p class="name">--bg-green-200 <br />#7EF17E</p>
      </div>
      <div class="bg-green-300">
        <div class="chip"></div>
        <p class="name">--bg-green-300 <br />#3EEA3E</p>
      </div>
      <div class="bg-green-400">
        <div class="chip"></div>
        <p class="name">--bg-green-400 <br />#16CA16</p>
      </div>
      <div class="bg-green-500">
        <div class="chip"></div>
        <p class="name">--bg-green-500 <br />#0F8A0F</p>
      </div>
      <div class="bg-green-600">
        <div class="chip"></div>
        <p class="name">--bg-green-600 <br />#0C6E0C</p>
      </div>
      <div class="bg-green-700">
        <div class="chip"></div>
        <p class="name">--bg-green-700 <br />#095309</p>
      </div>
      <div class="bg-green-800">
        <div class="chip"></div>
        <p class="name">--bg-green-800 <br />#063706</p>
      </div>
      <div class="bg-green-900">
        <div class="chip"></div>
        <p class="name">--bg-green-900 <br />#031C03</p>
      </div>
      <div class="bg-green-950">
        <div class="chip"></div>
        <p class="name">--bg-green-950 <br />#010E01</p>
      </div>
    </div>
  </div>

  <!-- Teal -->
  <div class="color-container">
    <h2>Teal</h2>
    <div class="color">
      <div class="bg-teal-50">
        <div class="chip"></div>
        <p class="name">--bg-teal-50 <br />#DBFFF4</p>
      </div>
      <div class="bg-teal-100">
        <div class="chip"></div>
        <p class="name">--bg-teal-100 <br />#B3FFE7</p>
      </div>
      <div class="bg-teal-200">
        <div class="chip"></div>
        <p class="name">--bg-teal-200 <br />#66FFCF</p>
      </div>
      <div class="bg-teal-300">
        <div class="chip"></div>
        <p class="name">--bg-teal-300 <br />#1FFFB8</p>
      </div>
      <div class="bg-teal-400">
        <div class="chip"></div>
        <p class="name">--bg-teal-400 <br />#00D18F</p>
      </div>
      <div class="bg-teal-500">
        <div class="chip"></div>
        <p class="name">--bg-teal-500 <br />#00855A</p>
      </div>
      <div class="bg-teal-600">
        <div class="chip"></div>
        <p class="name">--bg-teal-600 <br />#006B49</p>
      </div>
      <div class="bg-teal-700">
        <div class="chip"></div>
        <p class="name">--bg-teal-700 <br />#005238</p>
      </div>
      <div class="bg-teal-800">
        <div class="chip"></div>
        <p class="name">--bg-teal-800 <br />#003323</p>
      </div>
      <div class="bg-teal-900">
        <div class="chip"></div>
        <p class="name">--bg-teal-900 <br />#001911</p>
      </div>
      <div class="bg-teal-950">
        <div class="chip"></div>
        <p class="name">--bg-teal-950 <br />#000F0A</p>
      </div>
    </div>
  </div>

  <!-- Gul -->
  <div class="color-container">
    <h2>Gul</h2>
    <div class="color">
      <div class="bg-yellow-50">
        <div class="chip"></div>
        <p class="name">--bg-yellow-50 <br />#FEFAEC</p>
      </div>
      <div class="bg-yellow-100">
        <div class="chip"></div>
        <p class="name">--bg-yellow-100 <br />#FDF5D9</p>
      </div>
      <div class="bg-yellow-200">
        <div class="chip"></div>
        <p class="name">--bg-yellow-200 <br />#FAE9AE</p>
      </div>
      <div class="bg-yellow-300">
        <div class="chip"></div>
        <p class="name">--bg-yellow-300 <br />#F7DF87</p>
      </div>
      <div class="bg-yellow-400">
        <div class="chip"></div>
        <p class="name">--bg-yellow-400 <br />#F5D45C</p>
      </div>
      <div class="bg-yellow-500">
        <div class="chip"></div>
        <p class="name">--bg-yellow-500 <br />#F2C833</p>
      </div>
      <div class="bg-yellow-600">
        <div class="chip"></div>
        <p class="name">--bg-yellow-600 <br />#DDB00E</p>
      </div>
      <div class="bg-yellow-700">
        <div class="chip"></div>
        <p class="name">--bg-yellow-700 <br />#A8860B</p>
      </div>
      <div class="bg-yellow-800">
        <div class="chip"></div>
        <p class="name">--bg-yellow-800 <br />#6E5807</p>
      </div>
      <div class="bg-yellow-900">
        <div class="chip"></div>
        <p class="name">--bg-yellow-900 <br />#3A2E04</p>
      </div>
      <div class="bg-yellow-950">
        <div class="chip"></div>
        <p class="name">--bg-yellow-950 <br />#1D1702</p>
      </div>
    </div>
  </div>

  <!-- Rød -->
  <div class="color-container">
    <h2>Rød</h2>
    <div class="color">
      <div class="bg-red-50">
        <div class="chip"></div>
        <p class="name">--bg-red-50 <br />#FCE3E3</p>
      </div>
      <div class="bg-red-100">
        <div class="chip"></div>
        <p class="name">--bg-red-100 <br />#F9C8C8</p>
      </div>
      <div class="bg-red-200">
        <div class="chip"></div>
        <p class="name">--bg-red-200 <br />#F39191</p>
      </div>
      <div class="bg-red-300">
        <div class="chip"></div>
        <p class="name">--bg-red-300 <br />#ED5959</p>
      </div>
      <div class="bg-red-400">
        <div class="chip"></div>
        <p class="name">--bg-red-400 <br />#E72222</p>
      </div>
      <div class="bg-red-500">
        <div class="chip"></div>
        <p class="name">--bg-red-500 <br />#B81414</p>
      </div>
      <div class="bg-red-600">
        <div class="chip"></div>
        <p class="name">--bg-red-600 <br />#931010</p>
      </div>
      <div class="bg-red-700">
        <div class="chip"></div>
        <p class="name">--bg-red-700 <br />#6E0C0C</p>
      </div>
      <div class="bg-red-800">
        <div class="chip"></div>
        <p class="name">--bg-red-800 <br />#4A0808</p>
      </div>
      <div class="bg-red-900">
        <div class="chip"></div>
        <p class="name">--bg-red-900 <br />#250404</p>
      </div>
      <div class="bg-red-950">
        <div class="chip"></div>
        <p class="name">--bg-red-950 <br />#120202</p>
      </div>
    </div>
  </div>

  <!-- Additional Colors (Purple & Orange) -->
  <div class="color-container">
    <h2>Lilla</h2>
    <div class="color">
      <div class="bg-purple-50">
        <div class="chip"></div>
        <p class="name">--bg-purple-50 <br />#FAE5FA</p>
      </div>
      <div class="bg-purple-100">
        <div class="chip"></div>
        <p class="name">--bg-purple-100 <br />#F4CCF5</p>
      </div>
      <div class="bg-purple-200">
        <div class="chip"></div>
        <p class="name">--bg-purple-200 <br />#EA98EB</p>
      </div>
      <div class="bg-purple-300">
        <div class="chip"></div>
        <p class="name">--bg-purple-300 <br />#DF65E1</p>
      </div>
      <div class="bg-purple-400">
        <div class="chip"></div>
        <p class="name">--bg-purple-400 <br />#D432D7</p>
      </div>
      <div class="bg-purple-500">
        <div class="chip"></div>
        <p class="name">--bg-purple-500 <br />#A721AA</p>
      </div>
      <div class="bg-purple-600">
        <div class="chip"></div>
        <p class="name">--bg-purple-600 <br />#871B89</p>
      </div>
      <div class="bg-purple-700">
        <div class="chip"></div>
        <p class="name">--bg-purple-700 <br />#651467</p>
      </div>
      <div class="bg-purple-800">
        <div class="chip"></div>
        <p class="name">--bg-purple-800 <br />#430D44</p>
      </div>
      <div class="bg-purple-900">
        <div class="chip"></div>
        <p class="name">--bg-purple-900 <br />#220722</p>
      </div>
      <div class="bg-purple-950">
        <div class="chip"></div>
        <p class="name">--bg-purple-950 <br />#110311</p>
      </div>
    </div>
  </div>

  <div class="color-container">
    <h2>Oransje</h2>
    <div class="color">
      <div class="bg-orange-50">
        <div class="chip"></div>
        <p class="name">--bg-orange-50 <br />#FFF1EB</p>
      </div>
      <div class="bg-orange-100">
        <div class="chip"></div>
        <p class="name">--bg-orange-100 <br />#FFE0D1</p>
      </div>
      <div class="bg-orange-200">
        <div class="chip"></div>
        <p class="name">--bg-orange-200 <br />#FFC0A3</p>
      </div>
      <div class="bg-orange-300">
        <div class="chip"></div>
        <p class="name">--bg-orange-300 <br />#FFA47A</p>
      </div>
      <div class="bg-orange-400">
        <div class="chip"></div>
        <p class="name">--bg-orange-400 <br />#FF854D</p>
      </div>
      <div class="bg-orange-500">
        <div class="chip"></div>
        <p class="name">--bg-orange-500 <br />#FF661F</p>
      </div>
      <div class="bg-orange-600">
        <div class="chip"></div>
        <p class="name">--bg-orange-600 <br />#E64900</p>
      </div>
      <div class="bg-orange-700">
        <div class="chip"></div>
        <p class="name">--bg-orange-700 <br />#AD3700</p>
      </div>
      <div class="bg-orange-800">
        <div class="chip"></div>
        <p class="name">--bg-orange-800 <br />#702400</p>
      </div>
      <div class="bg-orange-900">
        <div class="chip"></div>
        <p class="name">--bg-orange-900 <br />#381200</p>
      </div>
      <div class="bg-orange-950">
        <div class="chip"></div>
        <p class="name">--bg-orange-950 <br />#1F0A00</p>
      </div>
    </div>
  </div>
</div>
