<div class="m-500">
    <h1 class="as-light fs-700">Farger</h1>

            <div class="color">
                <div class="clr-neutral-200">
                    <div class="chip"></div>
                    <p class="name">--clr-neutral-200</p>
                </div>
                <div class="clr-neutral-300">
                    <div class="chip"></div>
                    <p class="name">--clr-neutral-300</p>
                </div>
                <div class="clr-neutral-400">
                    <div class="chip"></div>
                    <p class="name">--clr-neutral-400</p>
                </div>
                <div class="clr-neutral-500">
                    <div class="chip"></div>
                    <p class="name">--clr-neutral-500</p>
                </div>
                <div class="clr-neutral-600">
                    <div class="chip"></div>
                    <p class="name">--clr-neutral-600</p>
                </div>
            </div>

            <div class="color">
                <div class="clr-primary-200">
                    <div class="chip"></div>
                    <p class="name">--clr-primary-200</p>
                </div>
                <div class="clr-primary-300">
                    <div class="chip"></div>
                    <p class="name">--clr-primary-300</p>
                </div>
                <div class="clr-primary-400">
                    <div class="chip"></div>
                    <p class="name">--clr-primary-400</p>
                </div>
                <div class="clr-primary-500">
                    <div class="chip"></div>
                    <p class="name">--clr-primary-500</p>
                </div>
            </div>

            <div class="color">
                <div class="clr-success-200">
                    <div class="chip"></div>
                    <p class="name">--clr-success-200</p>
                </div>
                <div class="clr-success-300">
                    <div class="chip"></div>
                    <p class="name">--clr-success-300</p>
                </div>
                <div class="clr-success-400">
                    <div class="chip"></div>
                    <p class="name">--clr-success-400</p>
                </div>
                <div class="clr-success-500">
                    <div class="chip"></div>
                    <p class="name">--clr-success-500</p>
                </div>
            </div>

            <div class="color">
                <div class="clr-neutral-200">
                    <div class="chip"></div>
                    <p class="name" style="border: none;"></p>
                </div>
                <div class="clr-warning-300">
                    <div class="chip"></div>
                    <p class="name">--clr-warning-300</p>
                </div>
                <div class="clr-warning-400">
                    <div class="chip"></div>
                    <p class="name">--clr-warning-400</p>
                </div>
                <div class="clr-warning-500">
                    <div class="chip"></div>
                    <p class="name">--clr-warning-500</p>
                </div>
            </div>

            <div class="color">
                <div class="clr-neutral-200">
                    <div class="chip"></div>
                    <p class="name" style="border: none;"></p>
                </div>
                <div class="clr-danger-300">
                    <div class="chip"></div>
                    <p class="name">--clr-danger-300</p>
                </div>
                <div class="clr-danger-400">
                    <div class="chip"></div>
                    <p class="name">--clr-danger-400</p>
                </div>
                <div class="clr-danger-500">
                    <div class="chip"></div>
                    <p class="name">--clr-danger-500</p>
                </div>
            </div>

</div>