.howTo {
  display: flex;
  gap: var(--space-600);
  margin-top: 40px;

  pre {
    background-color: var(--clr-neutral-400);
    border: 1px solid var(--clr-neutral-400);
    border-radius: var(--radius-400);
    width: -moz-fit-content;
    width: fit-content;
    padding: 20px 50px 0 0;
  }
  .testComponent {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-400);
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px;
  }
}

.clrChip {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 4px;
}

.color-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-600);
  margin-bottom: var(--space-400);

  
}
  
  .color {
    display: flex;
    max-width: 400px;
    margin-bottom: 40px;
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  .color>div {
    display: flex;
    flex-direction: column;
    width: 250px;
  }
  
  .color>div .chip {
    height: 60px;
  }
  
  .color>div .name {
    width: 250px;
    display: grid;
    place-items: center;
    background-color: white;
    padding: 10px;
    border: 1px solid var(--clr-neutral-400);
  }
  
  .color>div.default .name {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .color>div.default:is(.clr-primary-800) .name {
    color: var(--clr-neutral-400);
    background-color: rgba(255, 255, 255, 0.2);
  }

.pi.pi-check-circle { color: var(--clr-green-400); margin-right: var(--space-400); }
.pi.pi-question-circle { color: var(--clr-yellow-400); margin-right: var(--space-400); }
.pi.pi-times-circle { color: var(--clr-red-400); margin-right: var(--space-400); }