<div class="m-500">
    <h1 class="as-light fs-700">Tabs</h1>
    <p class="p-block-400"><a href="https://primeng.org/tabview" target="_blank" rel="noopener noreferrer"><i
                class="pi pi-prime | p-inline-400"></i>https://primeng.org/tabview</a></p>
    <p class="p-block-400"><a
            href="https://dev.azure.com/hvikt-utv/_git/Hviktor?path=/Hviktor-web/src/app/_components/prime-components/tabs"
            target="_blank" rel="noopener noreferrer"><i class="pi pi-code | p-inline-400"></i>Kode i repo</a></p>

    <p-tabView>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Kode</span>
            </ng-template>

            <!-- import til app.module -->
            <pre class="language-typescript line-numbers">
                <code class="language-typescript">import &#123; TabViewModule &#125; from 'primeng/tabview';</code>
            </pre>

            <p-divider></p-divider>

            <div class="flex f-column gap-500">
                <p-card>
                    <p-tabView>
                        <p-tabPanel>
                            <ng-template pTemplate="header">
                                <span>Tab 1</span>
                            </ng-template>
                            <p>Content tab 1...</p>
                        </p-tabPanel>

                        <p-tabPanel>
                            <ng-template pTemplate="header">
                                <span>Tab 2</span>
                            </ng-template>
                            <p>Content tab 2...</p>

                        </p-tabPanel>

                        <p-tabPanel>
                            <ng-template pTemplate="header">
                                <span>Tab 3</span>
                            </ng-template>
                            <p>Content tab 3...</p>
                        </p-tabPanel>
                    </p-tabView>

                    <pre class="language-html line-numbers">
                <code class="language-html">
                    &lt;p-tabView&gt;
                        &lt;p-tabPanel&gt;
                            &lt;ng-template pTemplate=&quot;header&quot;&gt;
                                &lt;span&gt;Tab 1&lt;/span&gt;
                            &lt;/ng-template&gt;
                            &lt;p&gt;Content tab 1...&lt;/p&gt;
                        &lt;/p-tabPanel&gt;
            
                        &lt;p-tabPanel&gt;
                            &lt;ng-template pTemplate=&quot;header&quot;&gt;
                                &lt;span&gt;Tab 2&lt;/span&gt;
                            &lt;/ng-template&gt;
                            &lt;p&gt;Content tab 2...&lt;/p&gt;
            
                        &lt;/p-tabPanel&gt;
            
                        &lt;p-tabPanel&gt;
                            &lt;ng-template pTemplate=&quot;header&quot;&gt;
                                &lt;span&gt;Tab 3&lt;/span&gt;
                            &lt;/ng-template&gt;
                            &lt;p&gt;Content tab 3...&lt;/p&gt;
                        &lt;/p-tabPanel&gt;
                    &lt;/p-tabView&gt;
                </code>
            </pre>
                </p-card>
            </div>
        </p-tabPanel>

        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Info</span>
            </ng-template>
            <p>Her skriver vi litt om hvordan komponenten bør brukes og UX/a11y prinsipp du bør tenke på.</p>
        </p-tabPanel>

        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Ren HTML/CSS</span>
            </ng-template>
            <p>Her kommer kode for komponenten uten tilknyttet rammeverk.</p>
        </p-tabPanel>
    </p-tabView>

</div>