<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="../../../assets/img/logo.png" routerLink="" height="48px" alt="Hviktor logo"/>
    </ng-template>

    <!-- <div class="flex f-align-center gap-400 | warningBlock">
        <p>Funker ikkje heilt enda, så refresh sida for å vise koden skikkelig og få fram "Copy" knappen.</p>
        <p-button icon="pi pi-refresh" (click)="refresh()"
            styleClass="p-button-rounded p-button-outlined"></p-button>
    </div> -->
</p-menubar>