<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <span routerLink="" style="font-size: 50px">💎</span>
    <!-- <img src="../../../assets/img/logo.png" routerLink="" height="48px" alt="Hviktor logo"/> -->
  </ng-template>

  <div class="flex items-center gap-2 rounded-md bg-primary-50 p-2">
    <p>
      <span class="font-bold text-neutral-900">angular/cli&#64;18.2.10</span> |
      <span class="font-bold text-neutral-900">primeng&#64;17.8.0</span>
    </p>
  </div>
</p-menubar>
