

// midlertidig
::ng-deep .p-menubar .p-menuitem-link .p-menuitem-icon.pi.pi-check-circle { color: var(--clr-success-400); }
::ng-deep .p-menubar .p-menuitem-link .p-menuitem-icon.pi.pi-question-circle { color: var(--clr-warning-400); }
::ng-deep .p-menubar .p-menuitem-link .p-menuitem-icon.pi.pi-times-circle { color: var(--clr-danger-400); }